#pro-img{
    width: 10rem;
    height: 10rem;
}
.about-section{
    background-image: url(./dark-low-poly-background_1048-7971.jpg);
}
.navbar{
    background-color: black;
}
body{
    background-color: black;
}
a.navbar-brand.ml-2.font-weight-bold {
    font-size: 30px;
}
.social-media ul{
    position: relative;
    display: flex;
    transform-style: preserve-3d;
    transform: rotate(0deg) skew(0deg);
}
.social-media li{
    position: relative;
    list-style: none;
    width: 30px;
    height: 30px;
    margin: 0 10px;
    
}
.social-media li span{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex !important;
    justify-content: center;
    align-items: center;
    background: #333;
    color: rgba(255, 255, 255, 0.2);
    font-size: 10px !important;
    transition: 0.2s;

} 
.social-media li:hover span{
    z-index: 1000;
    transition: 0.5s;
    color: #fff;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0,0.05);
}
.social-media li:hover span:nth-child(5){
    transform: translate(40px, -40px);
    opacity: 1;
}
.social-media li:hover span:nth-child(4){
    transform: translate(30px, -30px);
    opacity: 0.8;
}
.social-media li:hover span:nth-child(3){
    transform: translate(20px, -20px);
    opacity: 0.6;
}
.social-media li:hover span:nth-child(2){
    transform: translate(10px, -10px);
    opacity: 0.4;
}
.social-media li:hover span:nth-child(1){
    transform: translate(0px, -0px);
    opacity: 0.2;
}
.social-media li:nth-child(1):hover span{
    background: #3b5999;
}
.social-media li:nth-child(2):hover span{
    background: #e4405f;
}
.social-media li:nth-child(3):hover span{
    background: #25d366;
}
.social-media li:nth-child(4):hover span{
    background: #0077b5;
}
.social-media li:nth-child(5):hover span{
    background: #55ecee;
}
.skill-section .image{
    width: 320px;
    height: 180px;
    border-radius: 10px;
}
.skill-section .images{
    width: 320px;
    height: 180px;
    border-radius: 10px;
}
.hobbie-section .images{
    width: 320px;
    height: 180px;
    border-radius: 10px;
}
.hobbie-section .image{
    width: 320px;
    height: 180px;
    border-radius: 10px;
}
   
.contact-section message{
    height: 150px;
}
.navbar-toggler{
    transition: 1s;
}
@media screen and (max-width: 640px) {
    .hobbie-section .image {
        width: 280px;
        height: 155px;
        border-radius: 10px;
    }
    .hobbie-section .images {
        width: 280px;
        height: 155px;
        border-radius: 10px;
    }
    .skill-section .image {
        width: 280px;
        height: 155px;
        border-radius: 10px;
    }
    .skill-section .images {
        width: 280px;
        height: 155px;
        border-radius: 10px;
    }

    }

    @media only screen and (max-width: 600px){
        .hobbie-section h5{
            font-size: 16px;
        }
        .skill-section h5{
            font-size: 16px;
        }
        .hobbie-section .image {
            width: 152px;
            height: 103px;
            border-radius: 10px;
        }
        .hobbie-section .images {
            width: 152px;
            height: 103px;
            border-radius: 10px;
        }
        .skill-section .image {
            width: 152px;
            height: 103px;
            border-radius: 10px;
        }
        .skill-section .images {
            width: 152px;
            height: 103px;
            border-radius: 10px;
        }
        .header-section .nav-link{
            font-size: 10px;
        }

    }
    
  


    
  
@media screen and (max-width: 480px) {
    
    
    a.navbar-brand.ml-2.font-weight-bold {
        font-size: 26px;
    .social-media {text-align: center;
    }
    
  }
